@import '../colors.scss';

.btn{
    font-size: 16pt;
    border-radius: 0.3rem;
    border: none !important;
    padding: 8px 25px 8px 25px;
}

.btn-small {
    font-size: 14pt;
    padding: 5px 35px 5px 35px;
}

.btn:focus,
.btn:hover {
    box-shadow: none !important;
}

.btn-primary{
    background-color: $primary;
    color: $blanco;
}

.btn-secondary{
    background-color: $secondary;
    color: $negro;
}

.btn-danger{
    background-color: $danger;
    color: $blanco;
}

.btn-primary:focus,
.btn-primary:hover{
    background-color: $alter1 !important;
}

.btn-clear {
    background-color: transparent;
    border: none;
    font-size: 20pt;
}
.btn-clear:hover, .btn-clear:focus {
    .fa-trash {
        color: $danger !important;
    }
}

// Contenedores
.btn-box-left {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    justify-content: flex-start;
}

.btn-box-center {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    justify-content: center;
}
