.header {
    width: 100%;
    display: flex;
    position: sticky;
    background-color: #FFF;

    .header-logo {
        display: flex;
        align-items: center;
        flex: 1
    }

    .header-title {
        font-size: 18pt;
        color: $primary;
        margin-left: 1rem;
    }

    .header-menu {
        display: flex;
        flex: 6;
        justify-content: flex-end;
        align-items: center;
        padding-right: 3rem;

        span {
            font-size: 14pt;
        }
    }

    .header-menu-responsivo {
        display: none;
    }

    .ant-menu-horizontal {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .ant-menu-item {
        display: flex;
        align-items: center;
    }

    .ant-menu-item-selected, .ant-menu-item:hover {
        color: $primary !important;
        border-color: $primary !important;
    }
}

@media (max-width: 992px) {
    .header-menu {
        display: none !important;
    }

    .header-menu-responsivo {
        display: flex !important;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;

        span {
            font-size: 14pt;
        }
    }
}
