@import '../colors.scss';

.form-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;

    label, .label {
        color: $primary;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 0 0.5rem;
}

.basic-input, .picker-input__text {
    width: 100% !important;
    height: 40px !important;
    border: 2px solid $alter1 !important;
    border-radius: 0.5rem !important;
    color: $negro !important;
    font-size: 14pt !important;
    box-shadow: none !important;
    
    .ant-input {
        font-size: 14pt;
        color: $negro !important;
    }

    .ant-input-borderless {
        font-size: 14pt !important;
    }
}

.number-input {
    height: 40px;
    padding: 0 0.8rem;
    outline: none !important;
}

.input-error {
    border-color: $danger !important;
}


.basic-input:focus, .ant-input-affix-wrapper-focused,
.ant-input-number-focused, .ant-picker-focused {
    border-color: $primary !important;
}

.text-error {
    font-size: 10pt;
    margin-left: 1rem;
    color: $danger;
}

.ant-input-affix-wrapper, .ant-input:focus, .ant-input-focused, .ant-input:hover,
.ant-input-affix-wrapper:hover,
.ant-input-number {
    border-right-width: 2px !important;
}
