@import '../../assets/styles/colors.scss';

.portada-compra {
  width: 100%;
  height: 35rem;

  // background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datos-pelicula {
  display: flex;
  align-items: center;
  flex: 1;
}

.poster {
  width: 60%;
}

.compra-resumen {
  width: 50%;
}

.datos-compra {
  display: flex;
  flex: 1;
  border-bottom: 2px solid $alter1;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .text-totales {
    font-size: 20pt;
  }
}

@media (max-width: 992px) {
  .datos-pelicula {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
  }
  .compra-resumen {
    width: 100%;
  }
}
