.App {
  // text-align: center;
}

.portada {
  width: 100%;
  height: 80vh;

  // background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.estrenos {
  width: 100%;
  padding: 1rem 5rem;
}

@media (max-width: 992px) {
  .portada {
    padding: 0 1rem;
  }
  .estrenos {
    padding: 1rem 1rem !important;
  }
}
